html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#buffer {
	display: none;
}
video {
	display: none;
}
canvas {
	display: none;
}

body {
	background-color: white;
	background-image: url(/assets/images/checker2.png);
	background-size: auto;
	-webkit-transform: translateZ(0);
}
body.invert {
	background-color: black;
	background-image: url(/assets/images/checker-black.png);
	background-size: auto;
}

canvas {
	cursor: pointer;
	border: 1px transparent solid;
}
#master {
	position: absolute;
	top: 0;
	left: 0;
}
