@import url(http://fonts.googleapis.com/css?family=Knewave|Julius+Sans+One);

html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#buffer {
	display: none;
}
video {
	display: none;
}
canvas {
	display: none;
}

body {
	-webkit-transform: translateZ(0);
}
body.checker {
	background-color: white;
	background-image: url(/assets/images/checker2.png);
	background-size: auto;
	background-position: center center;
}
body.invert {
	background-color: black;
	background-image: url(/assets/images/checker-black.png);
	background-size: auto;
	background-position: center center;
}
body.invert header {
	color: white;
}
body.beach {
	background-image: url(/assets/images/beach.gif);
	background-size: cover;
	background-position: center center;
}
body.milkyway {
	background-image: url(/assets/images/milkyway.gif);
	background-size: contain;
	background-position: center center;
}
body.brooklynbridge {
	background-image: url(/assets/images/brooklynbridge.jpg);
	background-size: cover;
	background-position: bottom center;
}
body.brooklynbridge canvas {
	-webkit-filter: grayscale(1.0);
}
body.badlands {
	background-image: url(/assets/images/badlands.jpg);
	background-size: cover;
	background-position: center center;
}
body.clouds {
	background-image: url(/assets/images/clouds.gif);
	background-size: cover;
	background-position: center center;
}
canvas {
	cursor: move;
	border: 1px transparent solid;
}
#master {
	position: absolute;
	top: 0;
	left: 0;
}

header{
	width: 100%;
	text-align: center;
	z-index: 10000;
}

header * {
	margin:0;
}

@-webkit-keyframes a {
	0% {
		opacity: 0;
		-o-transform: translate3d(0, -60px, 0);
		-ms-transform: translate3d(0, -60px, 0);
		-moz-transform: translate3d(0, -60px, 0);
		-webkit-transform: translate3d(0, -60px, 0);
		transform: translate3d(0, -60px, 0);
	}

	30% {
		opacity: 1;
		-o-transform: translate3d(0, 5px, 0);
		-ms-transform: translate3d(0, 5px, 0);
		-moz-transform: translate3d(0, 5px, 0);
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	60% {
		-o-transform: translate3d(0, -2px, 0);
		-ms-transform: translate3d(0, -2px, 0);
		-moz-transform: translate3d(0, -2px, 0);
		-webkit-transform: translate3d(0, -2px, 0);
		transform: translate3d(0, -2px, 0);
	}

	100% {
		-o-transform: translate3d(0, 0px, 0);
		-ms-transform: translate3d(0, 0px, 0);
		-moz-transform: translate3d(0, 0px, 0);
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}

}
@-webkit-keyframes b {
	0% {
		opacity: 0;
		-o-transform: translate3d(0, -40px, 0);
		-ms-transform: translate3d(0, -40px, 0);
		-moz-transform: translate3d(0, -40px, 0);
		-webkit-transform: translate3d(0, -40px, 0);
		transform: translate3d(0, -40px, 0);
	}

	30% {
		opacity: 1;
		-o-transform: translate3d(0, 5px, 0);
		-ms-transform: translate3d(0, 5px, 0);
		-moz-transform: translate3d(0, 5px, 0);
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	100% {
		opacity: 1;
		-o-transform: translate3d(0, 0px, 0);
		-ms-transform: translate3d(0, 0px, 0);
		-moz-transform: translate3d(0, 0px, 0);
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}

}
h1 {
	font-family: 'Knewave', cursive;
	-webkit-animation-name: a;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 0s;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
	-webkit-animation-name: b;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 0s;
}
p {
	font-size:13px;
	-webkit-animation-name:b;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 0s;
}

#controls span input{
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		outline: 0;
		border: 0;
		border-radius: 0;
		background-size:20px;
		background-position:center;
		cursor:pointer;
		background-repeat:no-repeat;
		width:40px;
		height:40px;
		display:inline-block;
		border:2px outset #ccc;
}

#error {
	font-size: 13px;
	width: 250px;
	padding: 10px;
	box-shadow: 0 3px 5px #888;
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -135px;
	text-align: center;
	display: none;
}
#loader {
	width: 250px;
	padding: 10px;
	box-shadow: 0 3px 5px #888;
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -135px;
	text-align: center;
}
#loader #loaded {
	width: 100%;
	height: 20px;
}

#toolbar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 30px;
	width: 37px;
	background: #d6d6d6 url(https://s3.amazonaws.com/luckyplop/f7ba02119491984908e0d3c56d1372885663b5d7.png)no-repeat 0 -1118px;
	border: 1px solid #333;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-bottom: 15px;
	padding-top: 20px;
	box-shadow: 0 0 10px #eee;
	z-index: 10000 !important;
	position: absolute;
	top: 50px;
	left: 30px;
}
#toolbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #d6d6d6;
}
#toolbar li {
	width: 26px;
	height: 22px;
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 1px;
	margin-left: 4px
}
#toolbar li:hover {
	border: 1px solid #969696;
	padding: 0;
	cursor: pointer;
	background: rgb(237,237,237); /* Old browsers */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -moz-linear-gradient(top, rgba(237,237,237,0.5) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0.9)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -webkit-linear-gradient(top, rgba(237,237,237,0.9) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -o-linear-gradient(top, rgba(237,237,237,0.7) 0%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -ms-linear-gradient(top, rgba(237,237,237,0.9) 0%,rgba(255,255,255,0.1) 100%); /* IE10+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, linear-gradient(to bottom, rgba(237,237,237,0.9) 0%,rgba(255,255,255,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#toolbar li.active {
	border: 1px solid #969696;
	padding: 0;
	background: rgb(237,237,237); /* Old browsers */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -moz-linear-gradient(top, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -o-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.1) 100%); /* IE10+ */
	background: url(https://s3.amazonaws.com/luckyplop/59ab840274f999fa3362ed8a9872d34263bc57d6.png)no-repeat 20px 16px, linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#toolbar ul li:first-child {
	margin-top: 5px;
}
#toolbar ul li:last-child {
	margin-bottom: 7px;
}
#toolbar ul li span {
	width: 100%;
	height: 100%;
	display: inline-block;
	background-image: url(https://s3.amazonaws.com/luckyplop/f7ba02119491984908e0d3c56d1372885663b5d7.png);
	background-position: center;
	width: 20px;
	height: 20px;
}
#toolbar ul li.guitars span {
	background-position: 0 -267px;
}
#toolbar ul li.guitars:hover span {
	background-position: 0 -337px;
}
#toolbar ul li.strings span {
	background-position: 0 -1187px;
}
#toolbar ul li.strings:hover span {
	background-position: 0 -1257px;
}
#toolbar ul li.piano span {
	background-position: 0 -838px;
}
#toolbar ul li.piano:hover span {
	background-position: 0 -908px;
}
#toolbar ul li.drums span {
	background-position: 0 -63px;
}
#toolbar ul li.drums:hover span {
	background-position: 0 -133px;
}
#toolbar ul li.synths span {
	background-position: 0 -978px;
}
#toolbar ul li.synths:hover span {
	background-position: 0 -1048px;
}
#toolbar ul li.vocals span {
	background-position: 0 -558px;
}
#toolbar ul li.vocals:hover span {
	background-position: 0 -628px;
}
#toolbar .color {
	background: #d6d6d6 url(https://s3.amazonaws.com/luckyplop/f7ba02119491984908e0d3c56d1372885663b5d7.png)no-repeat 3px 1px;
	padding-top: 16px;
	width: 35px;
	display: inline-block;
}
#toolbar .color span {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid white;
	margin-left: 3px
}

#toolbar .color span:nth-child(1) {
	background: black;
	position: relative;
	z-index: 2;
}
#toolbar .color span:nth-child(2) {
	background: #ddd;
	position: absolute;
	margin-left: -15px;
	margin-top: 10px;
}

#toolbar .color.invert span:nth-child(1) {
	background: white;
}
#toolbar .color.invert span:nth-child(2) {
	background: #222;
}


#layers {
	width: 216px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 30px;
	background: #d6d6d6 url(https://s3.amazonaws.com/luckyplop/f7ba02119491984908e0d3c56d1372885663b5d7.png)no-repeat 0 -478px;
	border: 1px solid #333;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-top: 20px;
	height: 163px;
	box-shadow: 0 0 10px #eee;
	z-index: 10000 !important;
	position: absolute;
	bottom: 50px;
	right: 30px;
}
#layers ul {
	list-style: none;
	margin: 0;
	padding: 0;
	background: #d6d6d6;
	overflow-y: scroll;
	height: 110px;
	margin-top: 12px;
	border-top: 1px solid #909090;
}
#layers ul li {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #909090;
	clear: both
}
#layers ul li:hover {
	cursor: pointer;
	background: #b5d5ff;
}
#layers ul li.selected {
	background: #b5d5ff;
}

#layers ul li.active span {
	background: #d6d6d6;
}
#layers ul li.active p {
	font-weight: bold
}
#layers ul li span {
	border-right: 1px solid #909090;
	padding: 4px 4px 3px 4px;
	display: inline-block;
	float: left;
	background: #d6d6d6;
}
#layers ul li span input {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	border: 1px inset #ccc;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 7px 5px;
}

#layers ul li span input:checked {
	background: url(https://s3.amazonaws.com/luckyplop/f7ba02119491984908e0d3c56d1372885663b5d7.png)no-repeat 0 -203px;
}
#layers ul li p {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 15px 0;
	font-size: 11px;
	font-family: 'Helvetica',sans-serif;
}
#layers img {
	float: left;
	border: 1px solid #333;
	width: 40px;
	margin: 5px
}
#layers .bottom {
	background: #d6d6d6 url(https://s3.amazonaws.com/luckyplop/f7ba02119491984908e0d3c56d1372885663b5d7.png)no-repeat 0 -407px;
	width: 213px;
	height: 10px;
	display: inline-block;
	padding-bottom: 8px;
}

.flip {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.flop {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.flip_flop {
	-moz-transform: scaleX(-1) scaleY(-1);
	-o-transform: scaleX(-1) scaleY(-1);
	-webkit-transform: scaleX(-1) scaleY(-1);
	transform: scaleX(-1) scaleY(-1);
}
